
html, body {
    height: 915px;
    width: 412px;


    margin: 0%;
    background: #F2F2F2;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
.windowWarning {
    height: 50%;
    width: 100%;
    text-align: center;

    position: absolute;
    overflow-wrap: normal;
    z-index: 10;
    background: white;
    opacity: 10%;
    vertical-align: middle;
}
@media only screen and (min-width: 413px) {
    .windowWarning {
        opacity: 100%;
        background: grey;

    }

}
@media only screen and (max-width: 412px) {
    .windowWarning {
        opacity: 0%;
        background: grey;

    }

}
.warningBtn {
    width: 150px;
    height: 35px;
    border-radius: 12px;
    background: #5AC75D;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    color:white;
    margin: 20px;
}
.app {
    display: flex;
    flex-direction:column;

    position: relative;

    transition: 1s;

}



/* After Pressing Hamburger the side bar settings. */
.menuSideBar {
    left: 300px;
    transition: ease-in 0.5s;
    filter: blur(0px);

    height: 800px;
    width: 300px;
    background-color: #5E5E5E;
    border-radius: 15px 0 0  15px ;


    text-align: center;
    margin-left: 30%;

    font-weight: medium;
    font-size: 22px;

    color: white;

    position: absolute;
    z-index: 3;

    overflow: hidden;
}

.menuOptions {
    display: flex;
    flex-direction: column;
}
.userProfileBox {
    width: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid black;
    align-content: center;
    justify-content: center;
    align-self: center;


}
.userProfile {
}

.userProfilePicture {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;

    border-radius: 50%;
    background-color: white;
}
h5 {
    margin: 12px 0;
}
#menuLine1 {
    width: 80%;
    margin-top: 90%;
    border-top: 2px solid black;

    align-self: center;

}
#versionId {
    font-size: 12px;

}





.floatingChart {
    height: 300px;
    width: 335px;
    background-color: #FFFFFF;

    top: 25%;
    left: 10%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 5px 13px #888888;
    
    border-radius: 20px;

    z-index: 1;
}
.floatingChartDateBtn {
    width: 88px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #E9E9E9;
    margin-top: 20px;
    margin-left: 15px;
    


    /* Use this value for selected button 
    background: #9AF29D; */
}

.floatingChartDateBtnActive {
    width: 88px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #9AF29D;
    margin-top: 20px;
    margin-left: 15px;
}

#chartData {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: 35px 20px;
}


.top {
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-radial-gradient(45deg, #5AC75D, #73E176, #A9F8AB);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(45deg, #5AC75D, #73E176, #A9F8AB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    height: 281px;
    border-radius: 0 0 50px 0;
}

.nav {
    height: 50px;

    display: flex;
    flex-direction:row-reverse;
}

.navButton {
    height: 30px;
    width: 30px;
    background: url(Icons/Menu_Btn.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    margin: 15px;
    outline: none;

    z-index: 2;
 }

#calendarNotch {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;

    overflow: hidden;

    justify-content: center;
    float: right;
    font-size: 20px;
    text-align: center;
    line-height: 0;

}


.presentDay {
    color: #399723;
}

.presentDate {
    color: #5D5D5D;
    font-size: 15px;

}

.presentDayValue {
    font-weight: bold;
    /* [data-val-gte~="19"][data-val-lt~="65"] color lime; */
}

.previousDate {
    font-size: 10px;
}

.previousDay{
    font-size: 20px;
    color: #399723;
    
}
.previousDayValue {
    font-weight: bold;
    font-size: 15px;

}

.calendarIndividual {
    border-radius: 20px;

    height: 70px;
    width: 55px;

    background: #FFFFFF;
    
    box-shadow: 3px 5px 13px #888888;
    margin: 5px;

}

.calendarIndividualActive{
    border-radius: 20px;

    height: 105px;
    width: 70px;
    
    background: #D4FFD5;

    box-shadow: 3px 5px 13px #888888;
    margin: 5px;
}
.middle{
    display: flex;
    flex-direction:column-reverse;
    
    height: 460px;


}
.statsMini{
    display: flex;
    justify-content: center;
    
    
}

.statsMiniBox {
    border-radius: 20px;
    width: 335px; 
    height: 180px;
    background: #FFFFFF;
    
    margin-right: 10px;
    
    
    box-shadow: 3px 5px 13px #888888;
}

#donutchart {
    height: 160px;

    display: flex;
    justify-content: center;
    
    margin: 5px;
    background-color: none;
}


/* In this part we need to arrange both pressable icons on the sides to 
    be put inside of the new div whereas "add button" and the lower notch 
    will be added using absolute positioning to this class */
.bottom{
    height: 10%;

    margin-top: 20px;
    position: relative;
    
}

.addBtn {
   /* background: #69D66D; */
    background: url(Icons/Button_Btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    border: none;
    border-radius: 100%;
    height: 100px;
    width: 100px;

    margin-top: 12px;
    margin-left: 156px;
    position: absolute;
    outline: none;

    cursor: pointer;
    z-index: 2;
}

.bottomPanel {
    background: url(Icons/Path\ 4.svg);
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 15%;
    height: 88px;
    left: 0%;
    width: 100%;
    position: absolute;
    
}

.addExpenseOne {
    position: absolute;
    width: 325px;
    height: 512px;
    border-radius: 12px;
    z-index: 6;

    background-color: white;
    box-shadow: 5px 5px 15px #4141418e;

    top: 10%;
    left: 10%;

    color: #707070;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.blurBcg {
    width: 412px;
    height: 915px;
    filter: blur(20px);
    z-index: 5;
    position: absolute;
    transition: 1s;
}
.addExpenseTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addExpenseTxtBack {
    height: 30px;
    width: 30px;
    background-image: url(Icons/Arrow.svg);
    margin: 0 20px;
    justify-self: flex-start;
}

.addExpenseGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.addExpenseGridEle {
    width: 80px;
    height: 80px;
    background: rgba(250, 170, 170, 0.336);
    /* background: rgba(30, 255, 1, 0.336); */

    padding: 2px;
    border-radius: 12px;
    border: solid 1px black;

    display:flex;
    flex-direction: column;
    justify-content: center;

    
}

.addExpenseGridEleSelected {
    width: 80px;
    height: 80px;
    /* background: rgba(250, 170, 170, 0.336); */
    background: rgba(30, 255, 1, 0.336);

    padding: 2px;
    border-radius: 12px;
    border: solid 1px black;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.addExpenseGridIcon{
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.addExpenseGridIconText {
    margin: 0 auto;
}

.addExpenseBtn {
    width: 114px;
    height: 39px;
    background: #69D66D;
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

.addExpenseDots {
    width: 33px;
    height: 14px;

    margin: auto;
    background-image: url(Icons/dotprogress.svg)
}

.addExpenseTwo {
    position: absolute;
    width: 325px;
    height: 349px;
    border-radius: 12px;
    z-index: 6;

    background-color: white;
    box-shadow: 5px 5px 15px #4141418e;

    top: 10%;
    left: 10%;

    color: #707070;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.addVal {
    width: 223px;
    height: 58px;
    border-radius: 12px;

    background-color: #EFEFEF;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
    border: none;
    outline: none;
}

.addNot {
    width: 222px;
    height: 35px;
    margin-top: 50px;
    
    outline: none;
    background-color: #F9F9F9;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;

}